/**
 * This is the css file to support Ratings Field
 *
 *  The css hierarchy is as follows:
 *
 *  rating-field ->  
 *      rating-icon-label + rating-icon + rating-icon-label-suffix
 *        or if you are in text mode
 *      rating-icon-label + rating-text + rating-icon-label-suffix
 *  
 *    no-rating-text is for displaying messages when there is no raing.
 *    hidden is for hidding the rating value for disability browser features.
 */

.ratingf-rating-field {
   display: inline-block;
}

.ratingf-rating-icon-label {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 10px;
    font-size:1em;
}

.ratingf-rating-text {
  float: left;
  margin-top: 3px;
  font-size:1em;
  font-weight:bold;
  font-style:italic
}

.ratingf-rating-icon-label-suffix {
  float: left;
  margin-top: 3px;
  margin-left: 6px;
  font-size:1em;
  font-weight:bold;
}

.ratingf-rating-icon {
    float: left;
    margin-top: 7px;
}

.ratingf-no-rating-text {
  float: left;
  margin-top: 3px;
  font-size:.85em;
}

.ratingf-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .ratingsfield-hidden a,
body:hover .ratingsfield-hidden input,
body:hover .ratingsfield-hidden button {
  display: none !important;
}